@font-face {
    font-family: "icons";
    src: url("./icons.eot?07cbe9c954370f9aa90b9fbb62d39da7#iefix") format("embedded-opentype"),
url("./icons.woff2?07cbe9c954370f9aa90b9fbb62d39da7") format("woff2"),
url("./icons.woff?07cbe9c954370f9aa90b9fbb62d39da7") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-box-arrow-right:before {
    content: "\f101";
}
.icon-calendar-minus:before {
    content: "\f102";
}
.icon-calendar-plus:before {
    content: "\f103";
}
.icon-close:before {
    content: "\f104";
}
.icon-delete:before {
    content: "\f105";
}
.icon-expand-more:before {
    content: "\f106";
}
