@font-face {
    font-family: "icons";
    src: url("./icons.eot?ac5184df9323fc7dceeadb7905c5a298#iefix") format("embedded-opentype"),
url("./icons.woff2?ac5184df9323fc7dceeadb7905c5a298") format("woff2"),
url("./icons.woff?ac5184df9323fc7dceeadb7905c5a298") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1080p:before {
    content: "\f101";
}
.icon-2k:before {
    content: "\f102";
}
.icon-4k:before {
    content: "\f103";
}
.icon-720p:before {
    content: "\f104";
}
.icon-add-img:before {
    content: "\f105";
}
.icon-add-outline:before {
    content: "\f106";
}
.icon-add:before {
    content: "\f107";
}
.icon-align:before {
    content: "\f108";
}
.icon-analytics:before {
    content: "\f109";
}
.icon-android-outline:before {
    content: "\f10a";
}
.icon-anime:before {
    content: "\f10b";
}
.icon-apple:before {
    content: "\f10c";
}
.icon-arrow-down:before {
    content: "\f10d";
}
.icon-arrow-up:before {
    content: "\f10e";
}
.icon-award:before {
    content: "\f10f";
}
.icon-backup:before {
    content: "\f110";
}
.icon-banned:before {
    content: "\f111";
}
.icon-bell:before {
    content: "\f112";
}
.icon-bold:before {
    content: "\f113";
}
.icon-box:before {
    content: "\f114";
}
.icon-bug:before {
    content: "\f115";
}
.icon-calender:before {
    content: "\f116";
}
.icon-call:before {
    content: "\f117";
}
.icon-camera:before {
    content: "\f118";
}
.icon-card:before {
    content: "\f119";
}
.icon-catagories:before {
    content: "\f11a";
}
.icon-chain-loop:before {
    content: "\f11b";
}
.icon-chevron-left:before {
    content: "\f11c";
}
.icon-chevron-right:before {
    content: "\f11d";
}
.icon-clock-dot:before {
    content: "\f11e";
}
.icon-clock:before {
    content: "\f11f";
}
.icon-close:before {
    content: "\f120";
}
.icon-cloud-down:before {
    content: "\f121";
}
.icon-cloud-link:before {
    content: "\f122";
}
.icon-cloud-stream:before {
    content: "\f123";
}
.icon-cloud-up-down:before {
    content: "\f124";
}
.icon-cloud-up:before {
    content: "\f125";
}
.icon-code-file:before {
    content: "\f126";
}
.icon-code:before {
    content: "\f127";
}
.icon-copy:before {
    content: "\f128";
}
.icon-dashboard:before {
    content: "\f129";
}
.icon-database:before {
    content: "\f12a";
}
.icon-delete:before {
    content: "\f12b";
}
.icon-devices:before {
    content: "\f12c";
}
.icon-dislike:before {
    content: "\f12d";
}
.icon-done-circle:before {
    content: "\f12e";
}
.icon-done:before {
    content: "\f12f";
}
.icon-dot-menu:before {
    content: "\f130";
}
.icon-drama:before {
    content: "\f131";
}
.icon-earth:before {
    content: "\f132";
}
.icon-edit:before {
    content: "\f133";
}
.icon-email-plus:before {
    content: "\f134";
}
.icon-email-ticket:before {
    content: "\f135";
}
.icon-error:before {
    content: "\f136";
}
.icon-expand-more:before {
    content: "\f137";
}
.icon-expired:before {
    content: "\f138";
}
.icon-export:before {
    content: "\f139";
}
.icon-eye:before {
    content: "\f13a";
}
.icon-female:before {
    content: "\f13b";
}
.icon-flag:before {
    content: "\f13c";
}
.icon-folder:before {
    content: "\f13d";
}
.icon-gpu:before {
    content: "\f13e";
}
.icon-grid:before {
    content: "\f13f";
}
.icon-hd:before {
    content: "\f140";
}
.icon-indicator:before {
    content: "\f141";
}
.icon-info:before {
    content: "\f142";
}
.icon-italic:before {
    content: "\f143";
}
.icon-letter-circle:before {
    content: "\f144";
}
.icon-letter-open:before {
    content: "\f145";
}
.icon-letter:before {
    content: "\f146";
}
.icon-lg-outline:before {
    content: "\f147";
}
.icon-like:before {
    content: "\f148";
}
.icon-link-magnet:before {
    content: "\f149";
}
.icon-link:before {
    content: "\f14a";
}
.icon-list-round:before {
    content: "\f14b";
}
.icon-list:before {
    content: "\f14c";
}
.icon-location:before {
    content: "\f14d";
}
.icon-logout:before {
    content: "\f14e";
}
.icon-logs:before {
    content: "\f14f";
}
.icon-loop:before {
    content: "\f150";
}
.icon-loss:before {
    content: "\f151";
}
.icon-mail-key:before {
    content: "\f152";
}
.icon-mail-send:before {
    content: "\f153";
}
.icon-mail:before {
    content: "\f154";
}
.icon-male:before {
    content: "\f155";
}
.icon-manage:before {
    content: "\f156";
}
.icon-monitor-live:before {
    content: "\f157";
}
.icon-monitor:before {
    content: "\f158";
}
.icon-more:before {
    content: "\f159";
}
.icon-network:before {
    content: "\f15a";
}
.icon-offline:before {
    content: "\f15b";
}
.icon-options:before {
    content: "\f15c";
}
.icon-order:before {
    content: "\f15d";
}
.icon-paragraph:before {
    content: "\f15e";
}
.icon-parcent:before {
    content: "\f15f";
}
.icon-pause-circle:before {
    content: "\f160";
}
.icon-payment:before {
    content: "\f161";
}
.icon-phone:before {
    content: "\f162";
}
.icon-pie:before {
    content: "\f163";
}
.icon-player:before {
    content: "\f164";
}
.icon-profit:before {
    content: "\f165";
}
.icon-reel:before {
    content: "\f166";
}
.icon-reload:before {
    content: "\f167";
}
.icon-reseller:before {
    content: "\f168";
}
.icon-resolution:before {
    content: "\f169";
}
.icon-scan:before {
    content: "\f16a";
}
.icon-script:before {
    content: "\f16b";
}
.icon-search:before {
    content: "\f16c";
}
.icon-send-mail:before {
    content: "\f16d";
}
.icon-send-message:before {
    content: "\f16e";
}
.icon-servers:before {
    content: "\f16f";
}
.icon-settings-g:before {
    content: "\f170";
}
.icon-settings:before {
    content: "\f171";
}
.icon-shapes:before {
    content: "\f172";
}
.icon-shell:before {
    content: "\f173";
}
.icon-size:before {
    content: "\f174";
}
.icon-square:before {
    content: "\f175";
}
.icon-star:before {
    content: "\f176";
}
.icon-stars:before {
    content: "\f177";
}
.icon-statics:before {
    content: "\f178";
}
.icon-stats-pc:before {
    content: "\f179";
}
.icon-status:before {
    content: "\f17a";
}
.icon-storage:before {
    content: "\f17b";
}
.icon-streaming-codes:before {
    content: "\f17c";
}
.icon-tab-key:before {
    content: "\f17d";
}
.icon-tag:before {
    content: "\f17e";
}
.icon-target-hand:before {
    content: "\f17f";
}
.icon-target:before {
    content: "\f180";
}
.icon-terminal:before {
    content: "\f181";
}
.icon-ticket:before {
    content: "\f182";
}
.icon-tickets:before {
    content: "\f183";
}
.icon-token:before {
    content: "\f184";
}
.icon-tune:before {
    content: "\f185";
}
.icon-tv:before {
    content: "\f186";
}
.icon-user-online:before {
    content: "\f187";
}
.icon-user-time:before {
    content: "\f188";
}
.icon-user:before {
    content: "\f189";
}
.icon-users-double:before {
    content: "\f18a";
}
.icon-users-hand:before {
    content: "\f18b";
}
.icon-users-plus-two:before {
    content: "\f18c";
}
.icon-users-plus:before {
    content: "\f18d";
}
.icon-users-tick:before {
    content: "\f18e";
}
.icon-users:before {
    content: "\f18f";
}
.icon-video-simple:before {
    content: "\f190";
}
.icon-video:before {
    content: "\f191";
}
