* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #222831;
  color: #eeeeee;
  min-height: 100vh;
  font-family: "Ubuntu Mono", monospace;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

@import "./assets/fonts/font-icon/icons.css";
@import "./styles/scss/main.style.scss";
