.Bdrs\(1rem\) {
  border-radius: 1rem;
}
.Bgc\(lightgray\) {
  background-color: lightgray;
}
.D\(b\) {
  display: block;
}
.D\(f\) {
  display: flex;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.Fz\(1\.4rem\) {
  font-size: 1.4rem;
}
.H\(2rem\) {
  height: 2rem;
}
.H\(4rem\) {
  height: 4rem;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mt\(1rem\) {
  margin-top: 1rem;
}
.Mt\(2rem\) {
  margin-top: 2rem;
}
.Mt\(3rem\) {
  margin-top: 3rem;
}
.Px\(2rem\) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.Px\(3rem\) {
  padding-left: 3rem;
  padding-right: 3rem;
}
.Pt\(3rem\) {
  padding-top: 3rem;
}
.W\(600px\) {
  width: 600px;
}
