.Ai\(c\) {
  align-items: center;
}
.Bd\(border\) {
  border: 1px solid #e0eafe;
}
.Bd\(n\) {
  border: none;
}
.Bdrs\(1rem\) {
  border-radius: 1rem;
}
.Bdrs\(4rem\) {
  border-radius: 4rem;
}
.Bgc\(\#00adb5\) {
  background-color: #00adb5;
}
.Bgc\(\#082032\) {
  background-color: #082032;
}
.Bgc\(\#2c394b\) {
  background-color: #2c394b;
}
.Bgc\(\#ff4c29\) {
  background-color: #ff4c29;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.Bgc\(gray\) {
  background-color: gray;
}
.Bgc\(lightgray\) {
  background-color: lightgray;
}
.Bgc\(\#00edb0\)\:h:hover {
  background-color: #00edb0;
}
.Bdcl\(c\) {
  border-collapse: collapse;
}
.C\(\#20083a\) {
  color: #20083a;
}
.C\(\#878e93\) {
  color: #878e93;
}
.C\(\#96abbb\) {
  color: #96abbb;
}
.C\(\#eee\) {
  color: #eee;
}
.C\(\#fff\) {
  color: #fff;
}
.Cur\(p\) {
  cursor: pointer;
}
.D\(b\), .D\(b\)\:\:b::before {
  display: block;
}
.D\(f\) {
  display: flex;
}
.Fx\(1\) {
  flex: 1;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(fe\) {
  justify-content: flex-end;
}
.Jc\(fs\) {
  justify-content: flex-start;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fz\(1\.4rem\) {
  font-size: 1.4rem;
}
.Fz\(1\.6rem\) {
  font-size: 1.6rem;
}
.Fz\(1\.8rem\) {
  font-size: 1.8rem;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(2\.4rem\) {
  font-size: 2.4rem;
}
.Fz\(2\.5rem\) {
  font-size: 2.5rem;
}
.Fz\(2rem\) {
  font-size: 2rem;
}
.Fz\(3rem\) {
  font-size: 3rem;
}
.H\(100\%\) {
  height: 100%;
}
.H\(2rem\) {
  height: 2rem;
}
.H\(4rem\) {
  height: 4rem;
}
.H\(6rem\) {
  height: 6rem;
}
.Mx\(a\), .Mstart\(a\) {
  margin-left: auto;
}
.Mx\(a\) {
  margin-right: auto;
}
.Mt\(-3px\) {
  margin-top: -3px;
}
.Mt\(1rem\) {
  margin-top: 1rem;
}
.Mt\(2rem\) {
  margin-top: 2rem;
}
.Mt\(3rem\) {
  margin-top: 3rem;
}
.Maw\(maxc\) {
  max-width: max-content;
}
.Mih\(100vh\) {
  min-height: 100vh;
}
.Mih\(4rem\) {
  min-height: 4rem;
}
.Miw\(12rem\) {
  min-width: 12rem;
}
.Miw\(maxc\) {
  min-width: max-content;
}
.T\(2rem\) {
  top: 2rem;
}
.End\(0\) {
  right: 0;
}
.End\(2rem\) {
  right: 2rem;
}
.B\(0\) {
  bottom: 0;
}
.Start\(0\) {
  left: 0;
}
.Op\(\.5\) {
  opacity: .5;
}
.Op\(\.8\) {
  opacity: .8;
}
.Op\(\.6\)\:a:active {
  opacity: .6;
}
.Ov\(h\) {
  overflow: hidden;
}
.P\(2rem\) {
  padding: 2rem;
}
.Px\(2rem\) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.Px\(3rem\) {
  padding-left: 3rem;
  padding-right: 3rem;
}
.Py\(1rem\) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.Pt\(3rem\) {
  padding-top: 3rem;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(f\) {
  position: fixed;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(start\) {
  text-align: left;
}
.Td\(n\) {
  text-decoration: none;
}
.Trs\(trs-d\) {
  transition: all 300ms;
}
.W\(100\%\), .Row {
  width: 100%;
}
.W\(600px\) {
  width: 600px;
}
.W\(maxc\) {
  width: max-content;
}
.W\(minc\) {
  width: min-content;
}
.Z\(999\) {
  z-index: 999;
}
.Row {
  clear: both;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
